.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
}

.icon {
    width: 40px;
}

.items{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: rgb(3, 88, 247);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.left {
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;
}

.right {
    font-weight: bolder;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.right-item {
    display: flex;
    gap: 30px;
}

.btn:hover {
    background: linear-gradient(to top, #65adfa62, #ffffff);
    border-bottom: 2px solid rgb(45, 138, 244) ;
}

.btn-dash {
    border-bottom: 2px solid rgb(45, 138, 244) ;
}