.home {
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    background: linear-gradient(to bottom, rgba(184, 188, 197, 0.693), white);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Home-titte {
    font-size: 48px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(17, 24, 39);
}

.para {
    max-width: 600px;
    margin: 20px 0;
    font-size: 18px;
    color: #4b5563;
}

.start {
    padding: 13px 30px;
    background: rgb(37, 99, 235);
    color: white;
    border-radius: 8px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    max-width: 100px;
}

.hdesign {
    width: 350px;
    filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.847));
}