* {
  padding: 0;
  margin: 0;
}

.signInFull {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(184, 188, 197, 0.693), white);
}

.signIn {
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.form {
  width: 400px;
  padding: 30px 25px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.SignInh1 {
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 600;
}

.input {
  width: 95%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
}

.Sbtn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.backDesign {
  display: flex;
  align-items: center;
}

.design {
  height: 300px;
  width: 300px;
  filter: drop-shadow(0px 10px 12px rgba(0,0,0,0.847));
}

