.profile {
  min-height: calc(89vh);
  width: 100%;
  gap: 100px;
  background: linear-gradient(to right,
      rgba(184, 188, 197, 0.9) 0%,
      rgba(120, 121, 123, 0.6) 50%,
      rgba(184, 188, 197, 0.9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-section {
  position: relative;
  display: inline-block;
}

.profile-icon {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: white;
  padding: 1px;
  border: 10px solid black;
}

.profile-image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  padding: 2px;
  border: 5px solid black;
}

.profile-upload-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;

  background: rgb(71, 70, 70);
  color: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
}

.Profile-Details {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 400px;
}

.Detail-tab {
	display: flex;
	align-items: baseline;
	padding: 15px;
	border-radius: 10px;
	background: linear-gradient(to top,
      rgba(184, 188, 197, 0.9) 0%,
      rgba(214, 215, 219, 0.6) 50%,
      rgba(251, 252, 255, 0.9) 100%);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.Details-heading {
	padding-right: 10px;
	border-right: 2px solid black;
}

.Details-description{
	padding-left: 10px;
	font-size: x-large;
}

.profle-heading {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 0;
  margin: 0;
  
  /* subtle design effects */
  border-left: 6px solid #390101;
  padding-left: 12px;
  height: fit-content;
}